body{
  background-color: #A9F5A9;
  color: white;
}
h1{
  background-color: #5882FA;
  font-size: 45px;
}
p{
    background-color: #FE2E64;
    font-size: 40px;
}
h2{
  background-color: #5882FA;
  font-size: 35px;
}
p{
    background-color: #FE2E64;
    font-size: 30px;
}
h3{
  background-color: #5882FA;
  font-size: 25px;
}
p{
    background-color: #FE2E64;
    font-size: 20px;
}
